body{background-color: #000000}
h1 {color: white;
    font-family: Lucida Console;
    text-align:center;
    font-size: 50px;
}
h2 {color: white;
    font-family: Lucida Console;
    text-align:center;
    font-size: 20px;
}
h3 {color: grey;
    font-family: Lucida Console;
    text-align:center;
    font-size: 15px;
}
img{
    opacity: 1.0;
    filter: alpha(opacity=50);
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=100);
}
.coppa-club a{
  font-family: Lucida Console;
  text-align:center;
  font-size: 20px;
  text-align:center;
  display:block;
  width:100px;
  height:50px;
  border:1px solid grey;
  line-height:50px;
  color:white;
  text-decoration:none;
  border-radius:10px
  margin-top:50px;
  width:625px;
  height:50px;
}
.coppa-club_button{
 height:34px;
 margin:0 auto;
 margin-right:2px;
 float:left;
}
.sky-garden a{
  font-family: Lucida Console;
  text-align:center;
  font-size: 20px;
  text-align:center;
  display:block;
  width:100px;
  height:50px;
  border:1px solid grey;
  line-height:50px;
  color:white;
  text-decoration:none;
  border-radius:10px
  margin-top:50px;
  width:625px;
  height:50px;
}
.sky-garden_button{
 height:34px;
 margin:0 auto;
 margin-right:2px;
 float:left;
}
 td{
  text-align:center;
}
.form {
  color: white;
  font-family: Lucida Console;
  font-size: 15px
}
.reviews{
  text-align: center;
  color: white;
  font-family: Lucida Console;
  font-size: 15px
}
#social-buttons {
  margin-top: 50px;
  text-align: center;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}
